@model WebApi_Tasks.Models.TasksTable

@{
    ViewBag.Title = "Details";
}

<h2>Detailed Information</h2>

<div>
    <h4>TasksTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completion_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completion_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Task_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
